
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jumbotron Template for Bootstrap</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
  </head>

  <body>
    <% include ./partials/navbar %>
    <%- body -%>
    <% include ./partials/footer %>
    <% include ./partials/jsOnly %>
  </body>
</html>
